<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vertilabs</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <form action="/menu" method="get">
        <nav class="navbar">
            <h1 style="color: white;">VerdiLabs</h1>
            
            <img src="../static/img/Vedilabs.png" alt="VerdiLabs Logo">
    
            <div>
                <label for="login">Email</label>
                <input type="text" id="login" name="login"/>
                <label for="login">Senha</label>
                <input type="password" id="pswd" name="password"/>
            </div>
    
        </nav>
        
        <button style="color: white;" type="submit">
            Entrar
            <div></div>
        </button>
    </form>


</body>
</html>