<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vertilabs</title>
    <link rel="stylesheet" href="../static/menu.css">
</head>
<body>
    
    <nav class="navbar">
        <button class="arrow-button" onclick="goBack()">
            <span class="arrow-icon"></span>
          </button>
        <img src="../static/img/account.png" alt="Profile Picture" class="pfl-ico" />
        <h1 style="color: white;">Menu</h1>
    </nav>

    <div style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
        <a href='/' class="info-container-menu" >
          <div style="display: flex; flex-direction: column; align-items: center;" class="menu-icon">
            <img src="../static/img/hydrogen.png" alt="dashboard">
            <h2>HV2</h2>
          </div>
        </a>
      
        <a href="/analises" class="info-container-menu">
          <div style="display: flex; flex-direction: column; align-items: center;" class="menu-icon">
            <img src="../static/img/dashboard.png" alt="dashboard">
            <h2>Analysis</h2>
          </div>
        </a>
      </div>

    <div style="display: flex; flex-direction: row;">
        <a href="/calculadora" class="info-container-menu">
            <div style="flex-direction: column;" class="menu-icon">
                <img src="../static/img/calculator.png" alt="dashboard">
                <h2>Calculator</h2>
            </div>
        </a>
    
        <a href="/configuracoes" class="info-container-menu">
            <div style="flex-direction: column;" class="menu-icon">
                <img src="../static/img/settings.png" alt="dashboard">
                <h2>Settings</h2>
            </div>
        </a>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>